body {
	background: #E7E8EC !important;
}

.header-slider {
    z-index: 1000 !important;
    position: absolute;
    display: inline-block;
    padding: 1rem;
    width: 100%;
    background: url(../img/background-header-2.png);
    background-size: 100%;
	background-repeat: no-repeat;
}

.content-header {
	margin-top: 0.5rem;
}

.slider-box {
    position: relative;
    display: block;
}

#search::-webkit-input-placeholder {
  color: transparent;
  text-indent: -9999px;
  background-image: url("../img/logo-ilotte.png");
  background-position: 10% 50%;
  background-repeat: no-repeat; 
}

#search::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent;
  text-indent: -9999px;
  background-image: url("../img/logo-ilotte.png");
  background-position: 10% 50%;
  background-repeat: no-repeat; 
}

#search:-moz-placeholder {
  /* Firefox 18- */
  color: transparent;
  text-indent: -9999px;
  background-image: url("../img/logo-ilotte.png");
  background-position: 10% 50%;
  background-repeat: no-repeat; 
}

#search:-ms-input-placeholder {
  /* IE 10- */
  color: transparent;
  text-indent: -9999px;
  background-image: url("../img/logo-ilotte.png");
  background-position: 10% 50%;
  background-repeat: no-repeat; 
}

.form-search {
	display: inline;
}

#search-button {
    margin-left: -1.5rem;
}

.logobox {
    margin-left: 4rem;
}

.searchbox {
	margin-left: 0.8rem;
}

.burgerbox {
	margin-left: 0.8rem;
}

.burgerbox, .searchbox, .logobox {
	display: inline;
}

.searchbox .search {
	border-radius: 1rem;
	border: 0
}

.main-banner, .second-banner {
    margin: 0.4rem auto;
}

.main-slider-item img {
    width: 100%;
}

.surprise-banner img {
    width: 100%;
}

.category {
    background: #fff;
    margin: 0.4rem auto;
    text-align: center;
    padding: 0.7rem;
}

.category tr td {
    font-size: 1.1rem;
    line-height: 1.2;
    vertical-align: top;
}

.promotion, .second-banner {
    background: #fff;
    margin: 0.4rem auto;
    text-align: center;
    padding: 0.5rem;
    list-style: none;
}

.promotion ul li {
    list-style: none;
    display: inline;
}

.new-arrival-heading, .surprise-heading {
    margin: 0.4rem auto;
    text-align: left;
    padding: 0.5rem;
}

.promotion img, .main-banner img {
	width: 100%;
}

.new-arrival {
    padding: 0.8rem;
}

.disc {
    background: #707070;
    color: #fff;
    padding: 0.1rem;
    font-size: 0.8rem;
    position: relative;
    bottom: 1.5rem;
    width: max-content;
    border-radius: 0 35% 35% 0;
}

.title-item, .description, .normal-price, .disc-price {
    font-size: 0.9rem;
}
.title-item {
    position: relative;
    bottom: 1.5rem;
    font-weight: bold;
    line-height: 1.2rem;
    font-size: 0.9rem;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    color: #777;
    position: relative;
    bottom: 1.5rem;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.normal-price {
    color: #999;
    position: relative;
    bottom: 1.5rem;
    text-align: right;
    text-decoration: line-through;

}

.disc-price {
    position: relative;
    bottom: 1.5rem;
    text-align: right;
    font-size: 1rem;
    color: #DB2C27;

}

.new-arrival-item {
    background: #fff;
    padding: 0.3rem;
}

.footer {
    height: 1.5rem;
}